.soon{
  color: rgb(68, 68, 64) !important;
  font-weight: 700 !important; 
  font-family: 'Amatic SC';
}
::ng-deep mat-card{
  border-radius: 0px !important;
  box-shadow: rgb(50 50 93 / 25%) 0px 6px 12px -2px, rgb(0 0 0 / 30%) 0px 3px 7px -3px !important;
}
.hidden {
display: none
}
.visible {
display: block
}
.text{
  font-family: 'Amatic SC';
}
.center-text {
text-align: center
}
form.contact {
display: flex;
flex-direction: column;
width: 100%;
margin-left: auto;
margin-right: auto;
margin-top: 30px;
font-family: 'Amatic SC';
}
input,
button {
margin-bottom: 10px;
font-family: 'Amatic SC';
}
button {
margin-top: 10px;
background-color: transparent;
color:  rgb(68, 68, 64);
border: none;
padding: 4px 16px;
transition: 0.4s;
width: 100%;
margin-top: 10px;
background-color: #ffe9f2;
height: 40px;
border-radius: 5px;
box-shadow: rgb(0 0 0 / 52%) 0px 1px 5px;
font-weight: 800;
font-family: 'Amatic SC';
}
button:hover:enabled{
color: #ff3858;
background-color: #ffe9f2;
}
.container{
display: flex;
justify-content: center; 
}

.example-card {
max-width: 400px;
font-family: 'Amatic SC';
}
.fa-instagram {
background: #ffe9f2;
color: white;
box-shadow: rgb(0 0 0 / 52%) 0px 1px 5px;
}
.fa {
padding: 20px;
font-size: 57px;
width: 65px;
text-align: center;
text-decoration: none;
/* margin: 5px 2px; */
border-radius: 12px;
}
a{
color:rgb(68, 68, 64) !important;
font-family: 'Amatic SC';
}
::ng-deep .mat-form-field-invalid .mat-input-element {
color:rgb(68, 68, 64) !important;

}
::ng-deep  .mat-input-element {
color:rgb(68, 68, 64) !important;
margin-bottom: 20px;
}
::ng-deep .mat-focused .mat-form-field-label {
/*change color of label*/
color:rgb(68, 68, 64) !important;
}

::ng-deep.mat-form-field-underline {
/*change color of underline*/
background-color: rgb(68, 68, 64) !important;
} 

::ng-deep.mat-form-field-ripple {
/*change color of underline when focused*/
background-color: #ff3858 !important;;
}
.about-img{
  width: 200px !important;
  border-radius:10px !important;
  box-shadow: rgb(0 0 0 / 52%) 0px 1px 5px !important;
}
.menu{
text-align: center;
margin-top:10px;
font-family: 'Amatic SC';
}
::ng-deep .light .page-title{
  font-size: 30px;
  color: rgb(68, 68, 64) !important;
  font-weight: 800;
  font-family: 'Amatic SC';
  text-align: center;
}
::ng-deep .dark .page-title{
  font-size: 30px;
  color: #fafafa !important;
  font-weight: 800;
  font-family: 'Amatic SC';
  text-align: center;
}
::ng-deep .light .mat-card{
  background-color: #fafafa !important;
  color:rgb(68, 68, 64);
  font-weight: 600;
}

::ng-deep .dark  .mat-card{
  background-color: #3e3e3e !important;
  color: #fafafa;
  font-weight: 600;
}