<section class="container">
  <h4 class="page-title">About Me</h4>
</section>

<section class="container">
  <br>
  <mat-card  style="background-color:#ffe9f2 !important"class="example-card">
    
    <br>
    <section class="container">
      <img  class="about-img" src="../../assets/aboutconver.JPG">
    </section>
    <br>
    <mat-divider></mat-divider>
    <br>
    <mat-card-content>
        <mat-card>
         <p>{{longText}}</p>         
        </mat-card>

    </mat-card-content>
    <mat-divider></mat-divider>
    <br>


  </mat-card>
</section>
