
<section>
<section>
  <h4 class="page-title">Contact</h4>
</section>
 <br>
 <div style="display:flex; justify-content: center;">
    <mat-card class="example-card">
    <mat-card-content>
      <div class="container">
      <p>{{longText}}</p>
      </div>

    </mat-card-content>
    <mat-divider></mat-divider>
    <br>
     
      <br>
      <section class="container">
        <a href="https://www.instagram.com/jlynnsweets_/"   matTooltip="Instagram"
        [matTooltipPosition]="'above'" class="fa fa-instagram icc"></a>
      </section>
      <br>
      <section>
        <button mat-button class=" ic primary">DM US ON INSTAGRAM </button><br>
        <button mat-button class=" ic primary"><a
          matTooltip="Click to Call."
          [matTooltipPosition]="'below'"
          href="tel:+1-404-426-9165">CALL/TEXT@404-426-9165</a></button><br>
        <button mat-button class=" ic primary"><a href="mailto:jlynnssweetsntreats@gmail.com?subject=Sweets & Treats Inquiry" 
          matTooltip="Click to Email."
          [matTooltipPosition]="'below'"
          >Jlynnssweetsntreats@gmail.com</a></button><br>
      </section>
  </mat-card>  
 </div>


 <br>
 </section>
 



    <!-- <br>
<form class="contact" [formGroup]="form" method="post" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput [formControl]="name" required>
      <mat-error *ngIf="name.invalid">Please enter your name</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput [formControl]="email" placeholder="email@example.com" required>
      <mat-error *ngIf="email.invalid">Please enter a valid email</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Message</mat-label>
      <textarea matInput [formControl]="message" maxlength="256" placeholder="I'm interested in..." required></textarea>
      <mat-hint align="end"> {{message.value?.length || 0}}/256</mat-hint>
      <mat-error *ngIf="message.invalid">Please enter a message</mat-error>
    </mat-form-field>
    <br>
    <button [disabled]="isLoading" class="submit" type="submit">Submit</button>
    <input [formControl]="honeypot" class="hidden" type="text" />
    <div [ngClass]="!submitted? 'hidden' : 'visible'" class="center-text">
      <span>{{responseMessage}}</span>
    </div>
  </form> 
  <br>   
</mat-card>
 -->
