
<section>
<section>
  <h4 class="page-title">Contact</h4>
</section>
 <br>
  <mat-card class="example-card">
    <div class="container">
      <mat-card-title>Instagram</mat-card-title>
    </div>
    <div class="container">
       <mat-card-subtitle>Follow/Like/DM</mat-card-subtitle>
    </div>

    <mat-card-content>
      <div class="container">
      <p>{{longText}}</p>
      </div>

    </mat-card-content>
    <mat-divider></mat-divider>
    <br>
     
      <br>
      <section class="container">
        <a href="https://www.instagram.com/jlynnsweets_/" class="fa fa-instagram"></a>
      </section>
      <br>
      <section >
        <mat-card class="ic"><p>DM US ON INSTAGRAM </p></mat-card><br>
        <mat-card class="ic"><p>CALL/TEXT@404-426-9165</p></mat-card><br>
        <mat-card class="ic">Jlynnssweetsntreats@gmail.com</mat-card><br>
      </section>
  </mat-card> 

 <br>
 </section>
 



    <!-- <br>
<form class="contact" [formGroup]="form" method="post" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput [formControl]="name" required>
      <mat-error *ngIf="name.invalid">Please enter your name</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput [formControl]="email" placeholder="email@example.com" required>
      <mat-error *ngIf="email.invalid">Please enter a valid email</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Message</mat-label>
      <textarea matInput [formControl]="message" maxlength="256" placeholder="I'm interested in..." required></textarea>
      <mat-hint align="end"> {{message.value?.length || 0}}/256</mat-hint>
      <mat-error *ngIf="message.invalid">Please enter a message</mat-error>
    </mat-form-field>
    <br>
    <button [disabled]="isLoading" class="submit" type="submit">Submit</button>
    <input [formControl]="honeypot" class="hidden" type="text" />
    <div [ngClass]="!submitted? 'hidden' : 'visible'" class="center-text">
      <span>{{responseMessage}}</span>
    </div>
  </form> 
  <br>   
</mat-card>
 -->
