<nav>
  <mat-toolbar class="nav-back ">
    <button (click)="drawer.toggle()" mat-icon-button class="example-icon"
      aria-label="Example icon-button with menu icon">
      <mat-icon class="icon-class">menu</mat-icon>
    </button>
    <img class="logo" routerLink="/home" src="assets/output-onlinejpgtools (1).png">
    <span style="color: rgb(68, 68, 64);font-family: 'Amatic SC';font-weight: 900;font-size: 30px;">Jlynn's Sweets & Treats</span>
    <span class="example-spacer"></span>
    <i class="far fa-sun"></i>
  </mat-toolbar>
</nav>


<mat-drawer-container [ngClass]="theme ? 'light' : 'dark'" class="example-container" autosize>

  <mat-drawer  [ngStyle]="{'background-color': theme ? '#fafafa' : '#3e3e3e'}" #drawer class="example-sidenav" mode="side">
    <div>
      <button mat-icon-button class="example-icon favorite-icon icon-button"
        aria-label="Example icon-button with heart icon">
        <div class="container"><a class="button link icon-button" routerLink="/home">Home</a> </div>
      </button>
    </div>
    <br>
    <div>
      <button mat-icon-button class="example-icon favorite-icon icon-button"
        aria-label="Example icon-button with heart icon">
        <div class="container"><a class="button link icon-button" routerLink="/about">About</a> </div>
      </button>
    </div>
    <br>
    <div>
      <button mat-icon-button class="example-icon favorite-icon icon-button"
        aria-label="Example icon-button with heart icon">
        <div class="container"><a class="button link icon-button" routerLink="/menu">Menu</a> </div>
      </button>
    </div>
    <br>
    <div>
      <button mat-icon-button class="example-icon favorite-icon icon-button"
        aria-label="Example icon-button with heart icon">
        <div class="container"><a class="button link icon-button" routerLink="/contact">Contact</a> </div>
      </button>
    </div>
    <br>
    <div>
      <button mat-icon-button (click)="drawer.toggle();reload();" class="example-icon favorite-icon icon-button"
        aria-label="Example icon-button with heart icon">
        <div class="container"><a class="button link icon-button" routerLink="/gallery">Gallery</a> </div>
      </button>
    </div>
    <br>
    <div>
      <button mat-icon-button class="example-icon favorite-icon icon-button" (click)="changeTheme()"
        aria-label="Example icon-button with heart icon">
       <h3 class="theme"><b>{{theme ? 'Light' : 'Dark'}}</b></h3> 
      </button>
    </div>

  </mat-drawer>

  <div class="example-sidenav-content">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
