
<nav>
  <mat-toolbar class="nav-back ">
  <button (click)="drawer.toggle()"  mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon class="icon-class">menu</mat-icon>
  </button>
  <img class="logo" src="../assets/images/jlynnsweets/output-onlinejpgtools (1).png">
  <span style="color: rgb(68, 68, 64)">Jlynn's Sweets & Treats</span>
  <span class="example-spacer"></span>

</mat-toolbar>
</nav>


<mat-drawer-container class="example-container" autosize>
  
  <mat-drawer #drawer class="example-sidenav" mode="side">
<div>
   <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <a class="button link" routerLink="/about">About</a> 
  </button> 
</div>
  <br>
  <div>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <a class="button link" routerLink="/contact">Contact</a> 
  </button>  
  </div>
  <br>
  <div>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <a class="button link" routerLink="/menu">Menu</a> 
  </button>  
  </div>
  <br>
  <div>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <a class="button link" routerLink="/order" disabled>Order</a> 
  </button>  
  </div>
  <br>
  <div>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <a class="button link" routerLink="/gallery">Gallery</a> 
  </button>  
  </div>

  </mat-drawer>

  <div class="example-sidenav-content">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>

<footer style="height:100px;">

</footer>

