/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-color: #ffe4e1; color:#5B6770 !important;  }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}