/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-color:#fafafa; color:#5B6770 !important;  }
body { margin: 0;
    font-family: 'Amatic SC' !important;font-size: 22px;
}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}
nav{
    box-shadow: rgb(0 0 0 / 52%) 0px 5px 15px;
}
