.ic{
    background-color: #ffe9f2;
   padding:5px;
   word-wrap: break-word;
   text-align:center !important;
   font-family: 'Amatic SC';
   margin-left: 20px;
   width: 70px;
   margin-top: 20px;
  }