<section style="justify-content: center; display: flex;">
<p style="font-weight: 900;font-size: 29px;">Home</p>
</section>
<br>
<mat-divider></mat-divider>
<br>
<section style="justify-content: center; display: flex;">

<mat-card style="width:300px; opacity: .8; background-color:#ffe9f2 !important;border-radius: 0px;
box-shadow: rgb(50 50 93 / 25%) 0px 6px 12px -2px, rgb(0 0 0 / 30%) 0px 3px 7px -3px !important;">
 <img  style='height: 100%; width: 100%; object-fit: contain' class="about-img" src="./assets/output-onlinejpgtools (1).png">   
</mat-card>
</section>
<br>
<mat-divider></mat-divider>
<br>
<section style="justify-content: center; display: flex; width: 100%;flex-wrap: wrap;">
    <button routerLink="/about" mat-button class=" ih primary">About</button>
    <button routerLink="/menu" mat-button class=" ih primary">Menu</button>
    <button  routerLink="/contact" mat-button class=" ih primary">Contact</button>
</section>


